{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction['share'] }}</td>
                <td>{{ transaction['share_amount'] }}</td>
                <td>{{ transaction['price'] }}</td>
                <td>{{ transaction['date'] }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

{% endblock %}
